<div class='desired-country__box'>
  <div class='desired-country__flag-box'>
    <img class='desired-country__img' src='{{flags.svg}}' alt='{{flags.alt}}' />
  </div>
  <p class='desired-country__header'>{{name.official}}</p>
</div>
<ul>
  <li class='desired-country__elem'>
    <p class="desired-country__options">Capital:</p>
    <p>{{capital}}</p>
  </li>
  <li class='desired-country__elem'>
    <p class="desired-country__options">Population:</p>
    <p>{{population}}</p>
  </li>
  <li class='desired-country__elem'>
    <p class="desired-country__options">Languages:</p>
    <p>{{languages}}</p>
  </li>
</ul>